<ion-header>

    <ion-navbar>
        <ion-title>ProdutoDetail</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-fab top right edge>
        <button navPush="CarrinhoPage" ion-fab color="primary">
            <ion-icon name="cart"></ion-icon>
        </button>
    </ion-fab>
    <ion-card>
        <img [src]="item?.imageUrl || 'assets/imgs/prod.jpg'" />
        <ion-card-content>
            <ion-card-title>
                {{item?.nomeProduto}}
                <!-- Uso o ? -> Não mostrar erro enquanto não carrega o dado -->
            </ion-card-title>
            <p>
                {{item?.preco | currency:'BRL':true:'1.2-2'}}
            </p>
            <p style="color: red;" *ngIf="item?.quantidadeEstoque<1">[ESGOTADO]</p>
        </ion-card-content>
    </ion-card>

    <button *ngIf="item?.quantidadeEstoque>=1" ion-button block outline (click)="addCarrinho(item)">Adicionar ao Carrinho</button>
</ion-content>